<!DOCTYPE html>
<html>
<head>
  <title>
    Hello World</title>
  <%- include('partials/headassets') %>
</head>
<body>
  <%- include('partials/topnav') %>
  Hello
  <%= name %>
  <%- include('partials/footer') %>
</body>
</html>
