<!DOCTYPE html>
<html>

<head>
  <title>Weak Company</title>
  <%- include('partials/headassets') %>
</head>

<body>
  <%- include('partials/topnav') %>
    Hello
    <%= name %>
      <%- include('partials/footer') %>
</body>

</html>